---
import { getPageContent, getSiteSettings } from '../utils/api'
import Layout from '../layouts/Layout.astro'
import generateStaticPaths from '../utils/generateStaticPaths'
import * as locales from '../locales'

export async function getStaticPaths() {
  return await generateStaticPaths()
}

const { slug, language, langSwitch } = Astro.props

const siteSettings = await getSiteSettings(language)

const translate = locales[language] || locales.en

const page = await getPageContent(slug || 'home', language)

if (!page) {
  return Astro.redirect('/404')
}

const { Content } = await page.render()
---

<Layout 
  metatags={page.data.metatags} 
  siteSettings={siteSettings} 
  langSwitch={langSwitch} 
  language={language} 
  translate={translate}
>
  <main class="has-[>*:nth-child(3)]:space-y-16 has-[>*:nth-child(3)]:md:space-y-32">
    <Content />
  </main>
</Layout>
